img {
    width: 100%;
}

html {
    font-size: 14px;
}

html body {
    background-color: rgb(250, 250, 250);
    font-family: "Microsoft YaHei";
}

.col-7 {
    flex: 0 0 56.333333%;
    max-width: 56.333333%;
}

.col-5 {
    flex: 0 0 43.666667%;
    max-width: 43.666667%;
}


/*修改bootstrap max-width*/

@media (min-width: 576px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 374px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 85%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 65%;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
    .container {
        max-width: 65%;
    }
}

ul li {
    list-style: none;
}


/*flex相关*/

.fx {
    display: flex;
}

.fx-inline {
    display: inline-flex;
}

.fx-center {
    align-items: center;
}

.fx-between {
    justify-content: space-between;
}

.fx-column {
    flex-flow: column;
}