<div>
    <header>
        <div class="top">
            <div class="nav-middle fx fx-between">
                <div class="t-img">
                    <img src="image/logo.jpg" alt="" />
                </div>
                <div class="media fx-center">
                    <span class="r-icon">
                        <img src="image/china.jpg" alt="" />&nbsp;中文版
                            <b>|</b>
                    <img src="image/england.jpg" alt="" />&nbsp;英文版
                    </span>
                </div>
            </div>
        </div>
        <nav id="nav" v-bind:class="{'sub-title':isSubTitle}">
            <ul class="nav-middle fx fx-between clearfix">
                <li>
                    <router-link :to="{name:'home'}">首页</router-link>
                </li>
                <li>
                    <router-link :to="{name:'about'}">关于我们</router-link>
                </li>
                <li>
                    <router-link :to="{name:'news'}">企业新闻</router-link>
                </li>
                <li>
                    <router-link :to="{name:'product'}">产品展示</router-link>
                </li>
                <li>
                    <router-link :to="{name:'server'}">在线服务</router-link>
                </li>
                <li>
                    <router-link :to="{name:'person'}">人力资源</router-link>
                </li>
                <li>
                    <router-link :to="{name:'contact'}">联系我们</router-link>
                </li>
            </ul>
        </nav>
    </header>

    <router-view></router-view>

    <footer>
        <div class="container">
            <div class="lf">
                <img src="image/logo_black.jpg" alt="">
                <span>COPYRIGHT ©-2017 shuangniaoCO.,LTD.</span>
            </div>
            <div class="mid">
                <div class="mid-top">
                    <div style="color:white;">地址：江苏省无锡市惠山区惠明路88号</div>
                    <div>ADD:Jiangsu province Wuxi city Huishan District Hui Ming Road No.88</div>
                </div>
                <div class="mid-bottom">
                    <div style="color:white;">全国统一客服热线:</div>
                    <div class="b-o">400-809-8883</div>
                </div>
            </div>
            <div class="rt">
                <div class="rt-lf">
                    <ul>
                        <li>
                            <a href="#/app/about" v-bind:class="{'nav-active':$route.path==='/app/about' || $route.path==='/app/home' || $route.path==='/app'}">关于双鸟</a>
                        </li>
                        <li>
                            <router-link :to="{name:'news'}">企业新闻</router-link>
                        </li>
                        <li>
                            <router-link :to="{name:'product'}">产品展示</router-link>
                        </li>
                        <li>
                            <router-link :to="{name:'server'}">在线服务</router-link>
                        </li>
                    </ul>
                    <ul>
                        <!-- <li>
                            <router-link>合作加盟</router-link>
                        </li> -->
                        <li>
                            <router-link :to="{name:'person'}">人力资源</router-link>
                        </li>
                        <li>
                            <router-link :to="{name:'partner'}">主要客户</router-link>
                        </li>
                        <li>
                            <router-link :to="{name:'contact'}">联系我们</router-link>
                        </li>
                    </ul>
                </div>
                <div class="rt-rt">
                    <span>站内快速搜索</span>
                    <div class="search">
                        <input type="text" />
                        <span></span>
                    </div>
                    <span><a href="#">WWW.<span class="active">SAMLINCHINA</span>.COM</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>