<div>
    <div>
        <img src="image/sub_banner.jpg" alt="">
    </div>
    <div class="ct container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;联系我们
        </div>
        <div class="ct-info fx">
            <div class="item fx fx-center" style="flex:3">
                <div class="lf">
                    <img src="image/phone.jpg" alt="">
                </div>
                <div class="fx fx-column">
                    <b style="font-size:1rem;">客户服务与技术支持</b>
                    <div>售后工作时间&nbsp;：周一至周五 9&nbsp;：00至17&nbsp;：30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周六10&nbsp;：00至16&nbsp;：00</div>
                    <div>售后咨询热线&nbsp;：4006-705-107</div>
                </div>
            </div>
            <div class="item fx flex-column" style="flex:2">
                <div>售后联系信箱&nbsp;：biosun@baiousen.com</div>
                <div>投诉电话&nbsp;：86-510-83263888</div>
            </div>
        </div>
        <div class="ct-link">
            <div class="top">
                联系方式
            </div>
            <div class="content">
                <div><b>技术服务热线</b>&nbsp;：4006-705-107</div>
                <div><b>总机</b>&nbsp;：86-510-83263888</div>
                <div><b>传真</b>&nbsp;：86-0510-83262491</div>
                <div><b>网站</b>&nbsp;：www.samlinchina.com</div>
                <div><b>地址</b>&nbsp;：无锡市惠山经济开发区慧明路88号</div>
            </div>
        </div>
        <div class="ct-map">
            <img src="image/map.jpg" alt="">
        </div>
    </div>
</div>