<div style="background-color: rgb(250, 250, 250);">
    <div class="banner">
        <img src="image/banner.jpg" alt="">
    </div>
    <div class="content container padding-fix">
        <div class="row no-gutters">
            <div class="col-7 text">
                <h6>公司简介</h6>
                <h6 style="margin-bottom: 3rem;">
                    服务创造价值，专业成就品牌
                </h6>
                <span>
                        无锡双鸟科技股份有限公司（无锡双菱电气科技有限公司）是一家集研发、制造、销售服务于 一体的汽车空调总成、汽车空调压缩机及汽车空调零部件的专业生产厂家。<br/>公司成立于1998年，2008年公司改制，2012年公司由石塘湾工业园区搬迁至江苏省无锡市惠 山开发区汽车零部件园区，总投资额达3.5亿元，固定资产投资2亿万占地面积93380平方，建 筑面积45000平方。
                </span>
            </div>
            <div class="col-5 pd-lf">
                <img src="image/md_pic.jpg" alt="">
            </div>
        </div>
        <div class="row sec-row no-gutters" style="margin-top: 1rem;">
            <div class="col-7 media">
                <img class="align-self-end" src="image/md_pic4.jpg" alt="">
            </div>
            <div class="col-5 pd-lf col-between">
                <img src="image/md_pic2.jpg" alt="">
                <img src="image/md_pic3.jpg" alt="">
            </div>
        </div>
    </div>
</div>