<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>

    <div class="n-o container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;<span style="cursor: pointer;" @click="$router.push({name:'news'})">企业新闻</span>&nbsp;»&nbsp;2016上海国际车用空调及冷藏技术展览会
        </div>
        <div class="n-o-info">
            <div class="n-o-title">
                <div class="top">2016上海国际车用空调及冷藏技术展览会</div>
                <div class="bottom">2017-01-12</div>
            </div>
            <div class="n-o-pic">
                <ul>
                    <li><img src="image/news_0201.jpg" alt=""></li>
                    <li><img src="image/news_0202.jpg" alt=""></li>
                    <li class="full">
                        <span style="display: inline-block;width:47%;"><img src="image/news_0203.jpg" alt="" /></span>
                        <span style="display: inline-block;width:22.9%;margin-left: 3%"><img src="image/news_0204.jpg" alt="" /></span>
                        <span style="display: inline-block;width:25%;margin-left: 1%"><img src="image/news_0205.jpg" alt="" /></span>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
</div>