<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>

    <div class="n-o container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;<span style="cursor: pointer;" @click="$router.push({name:'news'})">企业新闻</span>&nbsp;»&nbsp;2016上海法兰福汽配展
        </div>
        <div class="n-o-info">
            <div class="n-o-title">
                <div class="top">2016上海法兰克福汽配展</div>
                <div class="bottom">2017-01-12 16:17:42</div>
            </div>
            <div class="n-o-pic">
                <ul>
                    <li><img src="image/news_0101.jpg" alt=""></li>
                    <li><img src="image/news_0102.jpg" alt=""></li>
                    <li><img src="image/news_0103.jpg" alt=""></li>
                    <li><img src="image/news_0104.jpg" alt=""></li>
                    <li><img src="image/news_0105.jpg" alt=""></li>
                    <li><img src="image/news_0106.jpg" alt=""></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
</div>