<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>

    <div class="n-o container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;<span style="cursor: pointer;" @click="$router.push({name:'news'})">企业新闻</span>&nbsp;»&nbsp;美国拉斯维加斯汽配展
        </div>
        <div class="n-o-info">
            <div class="n-o-title">
                <div class="top">美国拉斯维加斯汽配展</div>
                <div class="bottom">2017-01-12</div>
            </div>
            <div class="n-o-content" style="padding:1rem;padding-top: 0;">
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    美国汽车零部件及售后服务展AAPEX是全球最大的汽车售后服务专业展览会，也是美国最大的汽车制造业贸易博览会。并得到了美国两大汽车行业协会和美国商业部的支持，是进军北美及欧洲汽配市场的必经之路
                </p>
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    吸引力强：AAPEX每年一届，汇集了整个中北美以及南美、欧洲、中东的汽车零部件用户、售后服务商,是全球最大的汽车制造业贸易博览会之一，突出展示汽车售后零配件市场和汽车养护用品。展会与美国SEMA改装车展同期举行，因此，只要参加一个展，即可同时受惠于两个展主办单位同时为您邀请的买主，参展效果必然是加倍的！
                </p>
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    国际化程度高：参加AAPEX，您可同时接触到目标市场的所有关键决策者。汽车零件批发分销商、零售商、服务链商家、批发商和服务专业人员将出席AAPEX。这些买家拥有数十亿美元的购买力。在该展，您能接触到几乎在其它展会上接触不到的世界各地的买家。AAPEX每年都有来自全球120多个国家的卖家参展，参观者在11万人以上，其中买家大约5万多家，近几年中国企业都是千家以上。
                </p>
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    专业程度高：AAPEX展示了所有相关的新产品和新概念，展品范围涉及到汽车售后服务市场产品系列、各类汽车零配件、安全带、制动器零件、底盘等等，专业程度高，是世界最大的汽车制造业贸易及汽车售后服务市场的专业展览会。
                </p>
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    主题丰富：17年展会共举办了将近50场讲座和会议活动，全年解读了汽配行业的未来新流行趋势。并且该展和SEMA展为姐妹展会，展会举办展馆仅隔一座天桥，展馆互通。18年展会两展将会同期开展，AAPEX是以正规厂家的配套原配件为主，与改装车展比较拥有更加广泛的需求市场。美国汽车零部件是进口大国，美国汽车零部件以进口为主。在美国，汽车后市场是一个很重要的行业，它的从业人员在2012年就已达到4.1万人，且逐年增长。这个行业的具体业务内容既包括轻、中和重型车辆的产品购买和服务，又包括汽车零件、配件、润滑剂、外观产品、轮胎的销售和更换以及碰撞修复，还包括维修必要的工具和设备的销售。近年来，美国汽车零配件市场的销售总额为3077亿美元，比2011年增了长3.5%。其中，轿车和轻型卡车配件的销售总额为2312亿美元，而中型和重型汽车配件的销售总额为765亿美元。
                </p>
                <p style="font-size: 12px;text-indent: 2rem;line-height:200%;margin-bottom:0;">
                    AAIA汽车后市场零配件统计报告显示：汽车配件、轮胎及轻型汽车服务通过41条分销渠道售给消费者，其中17条渠道的售价明显低于零配件二级市场的价格。这41条渠道通向在汽车后市场中所有出售汽车产品和服务的工厂所对应的每一种类型的客户。新的汽车经销商代表最大的分销渠道（622亿美元），所有独立经销商一共销售了将近1700亿美元的汽车后市场市场产品和服务。中国近年来和美国市场关系良好，且中国的汽配产品以其物美价廉的优势，在美国占有一定的市场。
                </p>
            </div>
            <div class="n-o-pic">
                <ul>
                    <li><img src="image/news_0301.jpg" alt=""></li>
                    <li><img src="image/news_0302.jpg" alt=""></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    </div>
</div>