<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>
    <div class="partner container padding-fix" style="padding-bottom: 0;">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;关于我们&nbsp;»&nbsp;主要客户
        </div>
        <div class="par-list">
            <table>
                <tbody>
                    <tr>
                        <td><img src="image/partner1.jpg" alt=""></td>
                        <td><img src="image/partner2.jpg" alt=""></td>
                        <td><img src="image/partner3.jpg" alt=""></td>
                        <td><img src="image/partner4.jpg" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="image/partner5.jpg" alt=""></td>
                        <td><img src="image/partner6.jpg" alt=""></td>
                        <td><img src="image/partner7.jpg" alt=""></td>
                        <td><img src="image/partner8.jpg" alt=""></td>
                    </tr>
                    <tr>
                        <td><img src="image/partner9.jpg" alt=""></td>
                        <td><img src="image/partner10.jpg" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="par-bottom">
            <img src="image/shanghai.jpg" alt="">
        </div>
    </div>
</div>