<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>
    <div class="person container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;人才资源
        </div>
        <div class="p-hire">
            <h6>招聘信息</h6>
            <h6>Recruitment information</h6>
        </div>
        <ul class="clearfix item">
            <li>
                <div class="lf">
                    <h6>机械设计工程师&emsp;5人</h6>
                    <div>工作时间&nbsp;：周一至周六&nbsp;，早8&nbsp;：00&nbsp;，晚17&nbsp;：00</div>
                    <div>工作地点&nbsp;：江苏省无锡市惠山区惠明路88号</div>
                    <div>联系方式&nbsp;：0510-83263888</div>
                </div>
                <div class="rt">
                    <div class="rt-row">
                        <div class="row-lf">
                            所属部门&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>双鸟公司&emsp;设计中心</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位描述&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>开发、产品设计</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位要求&nbsp;：
                        </div>
                        <div class="col-ul">
                            <div class="col-ul">
                                <ul>
                                    <li>1&nbsp;.&nbsp;本科以上，3年机械设计工作经验。</li>
                                    <li>2&nbsp;.&nbsp;能熟练应用软件AOTUCAD、UG、SOLIDWOR、CAXA，能设计计算。</li>
                                    <li>3&nbsp;.&nbsp;了解质量管理体系IATF16949，设计开发APQP、PPAP、了解SPC和MSA系统等。</li>
                                    <li>4&nbsp;.&nbsp;有良好的沟通能力和学习能力。</li>
                                    <li>5&nbsp;.&nbsp;工作积极主动，能吃苦耐劳，态度严谨，做事认真负责。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="lf">
                    <h6>质量管理员&emsp;3人</h6>
                    <div>工作时间&nbsp;：周一至周六&nbsp;，早8&nbsp;：00&nbsp;，晚17&nbsp;：00</div>
                    <div>工作地点&nbsp;：江苏省无锡市惠山区惠明路88号</div>
                    <div>联系方式&nbsp;：0510-83263888</div>
                </div>
                <div class="rt">
                    <div class="rt-row">
                        <div class="row-lf">
                            所属部门&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>双鸟公司&emsp;质量部</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位描述&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>1&nbsp;.&nbsp;负责监督和管理企业的质量管理体系，保证质量管理体系的正常运行。</li>
                                <li>2&nbsp;.&nbsp;产品检测，按照规定对原料、半成品及成品进行检测，对于不合格的产品上报领导，并跟踪处理。</li>
                                <li>3&nbsp;.&nbsp;做好质量记录，并对记录进行整理和归档。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位要求&nbsp;：
                        </div>
                        <div class="col-ul">
                            <div class="col-ul">
                                <ul>
                                    <li>1&nbsp;.&nbsp;质量管理、生产管理相关专业大专以上学历。</li>
                                    <li>2&nbsp;.&nbsp;具有2年质量管理工作经验。</li>
                                    <li>3&nbsp;.&nbsp;具备良好的分析问题和解决问题的能力。</li>
                                    <li>4&nbsp;.&nbsp;具备良好的沟通协调能力。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="lf">
                    <h6>质量检验员&emsp;5人</h6>
                    <div>工作时间&nbsp;：周一至周六&nbsp;，早8&nbsp;：00&nbsp;，晚17&nbsp;：00</div>
                    <div>工作地点&nbsp;：江苏省无锡市惠山区惠明路88号</div>
                    <div>联系方式&nbsp;：0510-83263888</div>
                </div>
                <div class="rt">
                    <div class="rt-row">
                        <div class="row-lf">
                            所属部门&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>双鸟公司&emsp;质量部</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位描述&nbsp;：
                        </div>
                        <div class="col-ul">
                            <ul>
                                <li>1&nbsp;.&nbsp;结合公司质量管理实际的产品质量标准，制定原材料、外协件、工序产品、成品检验规范，明确检验方式、检验程序及不良品处理的事项。</li>
                                <li>2&nbsp;.&nbsp;及时处理产品实现各过程中的品质工作。</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rt-row">
                        <div class="row-lf">
                            职位要求&nbsp;：
                        </div>
                        <div class="col-ul">
                            <div class="col-ul">
                                <ul>
                                    <li>1&nbsp;.&nbsp;有机械工作经验者优先。</li>
                                    <li>2&nbsp;.&nbsp;工作认真负责。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>