<div>
    <div>
        <img src="image/second.jpg" alt="">
    </div>
    <div class="server container padding-fix">
        <div class="c-title">
            您现在的位置&nbsp;：首页&nbsp;»&nbsp;在线服务
        </div>
        <div class="s-title">尊敬的顾客：谢谢您的光临，如果您对我们的产品感兴趣，以及您有一些技术上问题需要我们的帮助请写下留言与我们联系。</div>
        <form action="">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>
                                公司名称
                            </span>
                        </td>
                        <td colspan="2">
                            <input type="text">
                        </td>
                        <td>
                            <span class="t-label">公司地址</span><input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                省级地区
                            </span>
                        </td>
                        <td>
                            <select>
                                <option v-for="province in provinceList" :value="province.code" >{{province.name}}</option>
                            </select>
                        </td>
                        <td>
                            <span class="t-label">城市</span><input type="text" />
                        </td>
                        <td>
                            邮政地址<input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>姓名</span>
                        </td>
                        <td colspan="2">
                            <input type="text">
                        </td>
                        <td>
                            <span class="t-label">网址</span><input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>电话</span>
                        </td>
                        <td colspan="2">
                            <input type="text">
                        </td>
                        <td>
                            <span class="t-label">移动电话</span><input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>传真</span>
                        </td>
                        <td colspan="2">
                            <input type="text">
                        </td>
                        <td>
                            <span class="t-label">E-mail</span><input type="text">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>留言</span>
                        </td>
                        <td colspan="3">
                            <textarea />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="s-btn">
                <button class="btn-blue">提交</button>
                <button class="btn-black" type="reset">重置</button>
            </div>
        </form>
    </div>
</div>